body {
  overflow-y: scroll;
  overflow-x: hidden;
}

:root , body ,html {
  background-color: #e4e4e4;
  box-sizing: border-box;

}
.div, h1 , h2, h3 , h4, h5 ,h6 , header , html , img , lable, selector expected  , li , small, span , ul , nav , i , header{
  margin: 0;
  padding : 0 ;
  border: 0;
  outline: none;
 
  
  vertical-align: baseline;
  background: transparent;
}
